﻿@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Administrator"))
    {
        using (Html.BeginForm("LogOff", "Admins", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">NAVIGATION OPTIONS</li>
                <!-- Optionally, you can add icons to the links -->
                <li><a href="~/Admins/ManageCallList"><i class="fa fa-address-card"></i> <span>Manage Call List</span></a></li>
                <li><a href="~/Constituents/Index"><i class="fa fa-group"></i> <span>Manage Constituents</span></a></li>
                <li><a href="~/CSV/Import"><i class="fa fa-database"></i> <span>Import CSV File</span></a></li>
                <li><a href="~/User/Create"><i class="fa fa-user-plus"></i> <span>Create New User</span></a></li>
                <li><a href="~/Manage/Index"><i class="fa fa-gears"></i> <span>Settings</span></a></li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-chain-broken"></i> <span>Log Out</span> </a></li>
            </ul>
        }
    }
    else if (User.IsInRole("Standard"))
    {
        using (Html.BeginForm("LogOff", "StandardUsers", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">NAVIGATION OPTIONS</li>
                <!-- Optionally, you can add icons to the links -->
                <li><a href="~/StandardUsers/ViewCallList"><i class="fa fa-address-card"></i> <span>View Call List</span></a></li>
                <li><a href="~/Constituents/Index"><i class="fa fa-group"></i> <span>View Constituents</span></a></li>
                <li><a href="~/Manage/Index"><i class="fa fa-gears"></i> <span>Settings</span></a></li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-chain-broken align-bottom"></i> <span>Log Out</span> </a></li>
            </ul>

        }
    }
}