﻿@model Dialogistic.Models.UserProfile

<div class="wrapper" id="main">
    <!-- Main Header -->
    <header class="main-header">
        <!-- Logo -->
        @if (User.IsInRole("Administrator"))
        {
            <a href="~/Admins/Dashboard" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>D</b>S</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Dialogistic</b>Solutions</span>
            </a>
        }
        else
        {
            <a href="~/StandardUsers/Dashboard" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>D</b>S</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Dialogistic</b>Solutions</span>
            </a>
        }

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
        </nav>

    </header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="@Model.Avatar" class="img-bordered-sm" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>@Model.FullName</p>
                </div>
            </div>
            <!-- Sidebar Menu -->
            @Html.Partial("_Sidebar")
            <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Initialize CometChat here so that it's available on all pages -->
    <script>
            var chat_appid = '@System.Configuration.ConfigurationManager.AppSettings["COMETCHAT_APP_ID"]';
            var chat_id = '@Model.ProfileID';
            var chat_name = '@Model.FullName';
            var chat_avatar = '@Model.Avatar';
    </script>
    <script>
        (function () {
            var chat_css = document.createElement('link'); chat_css.rel = 'stylesheet'; chat_css.type = 'text/css'; chat_css.href = 'https://fast.cometondemand.net/' + chat_appid + 'x_xchat.css';
            document.getElementsByTagName("head")[0].appendChild(chat_css);
            var chat_js = document.createElement('script'); chat_js.type = 'text/javascript'; chat_js.src = 'https://fast.cometondemand.net/' + chat_appid + 'x_xchat.js'; var chat_script = document.getElementsByTagName('script')[0]; chat_script.parentNode.insertBefore(chat_js, chat_script);
        })();
    </script>

