﻿@using Dialogistic.Models
@model LoginViewModel


@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LoginCustomLayout.cshtml";
}

<section class="content-header container" style="vertical-align: central; max-width: 600px;">
    <h1>
        Dialogistic Solutions
    </h1>
</section>
<!-- Main content -->
<section class="content container" style="max-width: 600px;">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Please log in to your account to continue</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="box-body">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", style = "max-width: 500px;" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", style = "max-width: 500px;" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" value="Log in" class="btn btn-info" style="margin-right: 20px;" />
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>

                    </div>
                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>
                    *@

                </div>
                <!-- /.box-body -->
                @*<div class="box-footer">
                        <button type="submit" class="btn btn-info">Log in</button>
                    </div>*@
                <!-- /.box-footer -->
            </div>
        }
    </div>
    <!-- /.box -->
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}