﻿@model PracticeProject.Models.Comment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Discussion.DiscussionsID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discussion.DiscussionsID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTimeOfCommentCreation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTimeOfCommentCreation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CommentsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
