﻿@model IEnumerable<PracticeProject.Models.Discussion>

@{
    ViewBag.Title = "Index";
}

<h2>Discussions</h2>

@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create New Discussion", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Post.Title) 
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Likes)
        </th>
        <th></th>
    </tr>


@foreach (var item in Model) {
    <tr>
        <td>
            @* @Html.DisplayFor(modelItem => item.Post.Title) *@

            @*Added this link to discussion content page.*@
            @Html.ActionLink(item.Post.Title, "DiscussionContent", "Discussions", new { id = item.DiscussionsID }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Likes)
        </td>
        <td>
          @* @Html.ActionLink("Edit", "Edit", new { id=item.DiscussionsID })  *@
             @Html.ActionLink("View Discussion", "DiscussionContent", new { id=item.DiscussionsID }) 
          @* @Html.ActionLink("Delete", "Delete", new { id=item.DiscussionsID }) *@
        </td>
    </tr>
}

</table>
