﻿@model Dialogistic.Models.Constituent

@{
    ViewBag.Title = "Update";
}

<section class="content-header">
    <h1>
        Call This Constituent
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-4 col-md-push-8">
                    <div class="panel panel-primary client-controls">
                        <div class="panel-heading bg-purple">
                            <h3 class="panel-title">Call Controls</h3>
                        </div>
                        <div class="panel-body">
                            <p><strong>Status</strong></p>
                            <div class="well well-sm" id="call-status">
                                Connecting to Twilio...
                            </div>

                            @*<button class="btn btn-lg btn-success answer-button" disabled>Answer call</button>*@
                            <button onclick="callConstituent('5039830280')" type="button" class="btn btn-primary btn-lg call-constituent-button">
                                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                                Call Constituent
                            </button>
                            <button class="btn btn-lg btn-danger hangup-button" disabled onclick="hangUp()">Hang up</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-8 col-md-pull-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading bg-purple">
                            <h3 class="panel-title"> Constituent Details</h3>
                        </div>

                        <div class="panel-body">

                            @*<div class="pull-right">
                                <button onclick="callCustomer('@Model.PhoneNumber')" type="button" class="btn btn-primary btn-lg call-customer-button">
                                    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                                    Call customer
                                </button>
                            </div>*@

                            <p><strong>Name:</strong> @Model.PrimaryAddressee</p>
                            <p><strong>Phone number:</strong> @Model.PhoneNumber</p>
                            <p><strong>Mobile number:</strong> @Model.MobilePhoneNumber</p>
                            <p><strong>Alternate number:</strong> @Model.AlternatePhoneNumber</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-footer -->
        </div>
        <!-- /.box -->
</section>

<!-- Twilio Programmable Voice -->
<script type="text/javascript" src="//media.twiliocdn.com/sdk/js/client/v1.6/twilio.min.js"></script>
@Scripts.Render("~/bundles/browser-calls")