﻿@model Dialogistic.Models.UserProfile

<html>
<body>
    <section class="content-header">
        <h1>
            Dashboard
            <small>Control panel</small>
        </h1>
        @*<ol class="breadcrumb">
                <li><a href="~/StandardUsers/Dashboard"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            </ol>*@
    </section>
    <!-- Main content -->
    <section class="the-content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <!-- Calls Remaining card -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>@Model.CallsRemaining</h3>
                        <p>My Remaining Calls</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <a href="~/StandardUsers/ViewCallList" class="small-box-footer">View call list <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <!-- Total Donations Raised card -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>$@Model.DonationsRaised<sup style="font-size: 20px"></sup></h3>
                        <p>My Total Donations Raised</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->

    </section>
</body>
</html>