﻿
@*@model Dialogistic.Models.UserProfile

@{
    var imageSource = "";
}
@if (Model.Avatar != null)
{
    var base64 = Convert.ToBase64String(Model.Avatar);
    imageSource = string.Format(base64);
}

<!-- minified snippet to load TalkJS without delaying your page -->
<script>
    (function (t, a, l, k, j, s) {
        s = a.createElement('script'); s.async = 1; s.src = "https://cdn.talkjs.com/talk.js"; a.head.appendChild(s)
            ; k = t.Promise; t.Talk = {
                v: 1, ready: {
                    then: function (f) {
                        if (k) return new k(function (r, e) { l.push([f, r, e]) }); l
                            .push([f])
                    }, catch: function () { return k && new k() }, c: l
                }
            };
    })(window, document, []);
</script>

<!-- container element in which TalkJS will display a chat UI -->
<div id="inbox-container" class="pull-left" style="width: 90%; margin-left: -100px; height: 500px"><i>Loading chat...</i></div>

<!-- TalkJS initialization code, which we'll customize in the next steps -->
<script>
    Talk.ready.then(function() {
        var me = new Talk.User({
            id: "@Model.ProfileID",
            name: "@Model.FullName",
            email: "@Model.Email",
            photoUrl: "nothing",
            role: "User"
        });
        window.talkSession = new Talk.Session({
            appId: "tHZbPnDN",
            me: me
        });

        //var conversation = talkSession.getOrCreateConversation(Talk.oneOnOneId(me, other))
        //conversation.setParticipant(me);
        //conversation.setParticipant(other);
        var inbox = talkSession.createInbox();
        inbox.mount(document.getElementById("inbox-container"));
    });
</script>*@