﻿@model IEnumerable<PracticeProject.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Post", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
                @Html.DisplayNameFor(model => model.PostContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTimeOfPost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostContent)
            @*@Html.ActionLink(modelItem => item.PostContent, "Index", new { id = item.PostContent)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTimeOfPost)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PostsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PostsID }) |
            @*@Html.ActionLink("Delete", "Delete", new { id=item.PostsID })*@
        </td>
    </tr>
}

</table>
