﻿@model PagedList.IPagedList<Dialogistic.Models.Constituent>
@using PagedList.Mvc;

@{ 
    var userIsAdmin = User.IsInRole("Administrator") || User.IsInRole("SuperAdmin");
}

<!-- Scripts and content requirements -->
<script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<section class="content-header">
    <h1>
        Constituents
    </h1>
    <ol class="breadcrumb">
        @if (userIsAdmin)
        {
            <li><a href="~/Admins/Dashboard"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        }
        else
        {
            <li><a href="~/StandardUsers/Dashboard"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        }
        <li class="active">View Constituents</li>
    </ol>
</section>
<!-- Main content -->
<section class="the-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Manage Constituents</h3>
                    <hr/>
                    <div>
                        @using (Html.BeginForm("Index", "Constituents", FormMethod.Get))
                        {
                            <p>
                                Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                                <input type="submit" value="Search" />
                            </p>
                            if (@ViewBag.CurrentFilter != null)
                            {
                                <div>
                                    <!-- Display a message related to the user's search -->
                                    <strong>@ViewBag.SearchMessage</strong>
                                </div>
                            }
                        }
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="Constituents" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                @*<th>@Html.ActionLink("Addressee", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })</th>*@
                                <th>Addressee</th>
                                <th>Address 1</th>
                                <th>Address 2</th>
                                <th>Address 3</th>
                                <th>@Html.ActionLink("City", "Index", new { sortOrder = ViewBag.PreferredCitySortParm, currentFilter = ViewBag.CurrentFilter })</th>
                                <th>@Html.ActionLink("State", "Index", new { sortOrder = ViewBag.PreferredStateSortParm, currentFilter = ViewBag.CurrentFilter })</th>
                                <th>ZIP</th>
                                <th>Phone Number</th>
                                <th>Mobile Phone Number</th>
                                <th>Alt. Phone Number</th>
                                <th>@Html.ActionLink("Last Contacted", "Index", new { sortOrder = ViewBag.ContactDateSortParm, currentFilter = ViewBag.CurrentFilter })</th>
                                <th>@Html.ActionLink("Last Gift Date", "Index", new { sortOrder = ViewBag.GiftDateSortParm, currentFilter = ViewBag.CurrentFilter })</th>
                                <th>Deceased</th>

                                @if (!User.IsInRole("Standard"))
                                {
                                    <th>Action</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.PrimaryAddressee)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PreferredAddressLine1)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PreferredAddressLine2)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PreferredAddressLine3)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PreferredCity)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PreferredState)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PreferredZIP)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                                    <td>@Html.DisplayFor(modelItem => item.MobilePhoneNumber)</td>
                                    <td>@Html.DisplayFor(modelItem => item.AlternatePhoneNumber)</td>
                                    <td>@Html.DisplayFor(modelItem => item.LastContacted)</td>
                                    <td>@Html.DisplayFor(modelItem => item.LastGiftDate)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Deceased)</td>

                                    @if (!User.IsInRole("Standard"))
                                    {
                                         <td><a href="~/Constituents/Update/@item.ConstituentID">Update</a></td>

                                    }
                                </tr>
                            }
                    </table>
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("Index",
                        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
